/* Import des polices depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Poppins:wght@400;700&display=swap');

:root {
	--fond1: #35383F;
	--fond2: #23252B;
	--fond3: #121316;
	--fond4: #000000;
	--text1: #FFF; /*(255,255,255)*/
	--text2: #AAA; /*(170,170,170)*/
	--text3: #555; /*(085,085,085)*/
	--text4: #000; /*(000,000,000)*/
	--scale-factor: 1.6;
}

@media only screen and (max-width: 1024px) {
	:root { --scale-factor: 2.4; }
}

html, body {
	background-color: var(--fond4);
	font-family: 'Roboto', sans-serif;
	color: var(--text1);
	padding: 0;
	margin: 0;
	overflow-x: clip;
}

.page {
	z-index: 1;
	margin-top: 60px;
}

/*
+2160px (ultraviewer)
-2160px (16/9 4K)
-1720px (16/10 FHD)
-1024px (4/3 XGA)
-800px (tablette)
-568px (téléphone)
-480px (petit téléphone)
-320px (ne bouge plus)
*/
