:root {
	--fond1: #35383F;
	--fond2: #23252B;
	--fond3: #121316;
	--fond4: #000000;
	--text1: #FFF;
	--text2: #AAA;
	--text3: #555;
	--text4: #000;
}

html, body {
	font-family: Lato,Helvetica Neue,helvetica,sans-serif;
	background-color: var(--fond4);
	padding: 0;
	margin: 0;
}

.nav-co {
	background-color: var(--fond2);
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	.img1-co {height: 45px; cursor: pointer;}
}

.page {
	height: calc(100vh - 60px - 181px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.conteneur-co {
	background-color: var(--fond1);
	border-radius: 10px;
	height: 500px;
	width: 400px;

	.conteneur-titre-co {
		display: flex;
		justify-content: center;

		.titre-co {
			width: 250px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: var(--text1);
			h2 {margin: 0;}

			&:hover {
				text-decoration: underline;
				cursor: pointer;
			}
		}
	}
	.body-con, .body-cre {
		background-color: var(--fond2);
		border-radius: 0 0 10px 10px;
		height: 450px;
		width: 400px;
		color: var(--text1);

		.logo-co {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: var(--fond2);
			height: 130px;
			width: 400px;
			img {height: 100px;}
		}

		.logo-co2 {height: 25px;}

		form {
			padding: 0 25px;
			font-size: 1.2rem;

			input {
				margin: 10px 0 25px 0;
				padding: 10px;
				width: calc(330px - 3.2px);
			}

			input#mdp1, input#mdp2, input#mdp3 {
				width: calc(330px - 3.2px - 30px);
				padding-right: 40px;
			}

			.mdp-co {
				position: relative;
				.but-mdp {
					position: absolute;
					background-color: transparent;
					border: none;
					outline: none;
					padding: 0;
					top: 12.1px;
					right: 2.1px;
					height: 35px;
					width: 35px;
					cursor: pointer;

					display: flex;
					justify-content: center;
					align-items: center;

					&:hover {
						border-radius: 5px;
						background-color: #DDDDDD;
					}

					.svg-mdp {
						height: 25px;
						width: 25px;
						fill: none;

						path {
							stroke: var(--text2);
							stroke-width: 2;
							stroke-linecap: round;
							stroke-linejoin: round;
						}
					}
				}
			}
			.souvenir-co {
				height: 33px;
				input {width: 30px; cursor: pointer;}
				.label-souvenir {font-size: 0.8rem;}
			}
			.bout-co {
				width: 350px;
				height: 90px;
				display: flex;
				justify-content: center;
				align-items: center;

				button {
					background-color: var(--text1);
					padding: 5px 10px;
					font-size: 25px;
					cursor: pointer;
					font-weight: bold;
					border-radius: 10px;
					border: 2px solid var(--text3);
					&:hover {background-color: var(--text2);}
				}
			}
			.info-inscription {
				font-size: 0.8rem;
				text-align: justify;
				.les-info {
					margin: 0;
					a {
						color: var(--text2);
						&:hover {color: var(--text1);}
					}
				}
			}
		}
	}
}

.conteneur-co.con {
	.body-cre {display: none;}
	#con {
		border-radius: 10px 10px 0 0;
		background-color: var(--fond2);
	}
}
.conteneur-co.cre {
	.body-con {display: none;}
	#cre {
		border-radius: 10px 10px 0 0;
		background-color: var(--fond2);
	}
}

.footer-bas {
  border-top: 3px solid var(--fond1);
  color: var(--text1);

  .information {
    margin: 0 10vw;
    text-align: left;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;

    .info-footer {
      h4 {margin: 15px 5px;}
      span {color: var(--text3);}
      a {
        text-decoration: none;
        color: var(--text3);

        &:hover {
          text-decoration: underline;
          color: var(--text2);
        }
      }
    }
  }
  .footer-bar {
    border-top: 2px solid var(--fond1);
    margin: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      height: 40px;
      margin: 10px 20px;
      &:hover {cursor: pointer;}
    }
    .bar-copy1 {
      margin: 0 20px;
    }
  }
}

/* Media query pour masquer les éléments pour les écrans plus petits */
@media only screen and (max-width: 800px) {
  .page {height: calc(100vh - 316px);}
  .footer-bas {
    .information {
      display: block;
      padding-bottom: 0;

      .info-footer {
        border-bottom: 1px solid var(--fond1);
        padding: 10px 0;
        display: flex;
        justify-content: left;
        h4 {width: 120px; white-space: nowrap;}
        a {white-space: nowrap;}
      }
    }
    .footer-bar {
      border-top: none;
      margin: 2vw 0;
      display: block;
      justify-content: center;
      align-items: none;
      text-align: center;
    }
  }
}

/*
+2160px (ultraviewer)
-2160px (16/9 4K)
-1720px (16/10 FHD)
-1024px (4/3 XGA)
-800px (tablette)
-568px (téléphone)
-480px (petit téléphone)
-320px (ne bouge plus)
*/
